

/* ############################################################################################ */
/* CART NAVIGATION */
/* ############################################################################################ */


.navigate-cart {
	position: absolute;
	right: -70px;
	top: 50%;
	overflow: hidden;
	margin-top: -30px;
	z-index: 10;
}

.navigate-cart:hover {
	right: -20px;
}


.navigate-cart:hover .prev-next-shine {
	left: 55px;
}

.navigate-cart:hover .next-label {
	padding-left: 30px;
}

.navigate-cart a {
	display: block;
	width: 220px;
	height: 60px;
	text-decoration: none;
}

.next-label {
	font-family: 'DaysRegular';
	text-transform: uppercase;
	font-size: 17px;
	color: #FFF;
	position: relative;
	display: block;
	padding-top: 20px;
	padding-left: 24px;
}

.prev-next-shine {
	position: absolute;
	top: 0;
	left: 5px;
	opacity: .8;
}


/* ############################################################################################ */
/* SHOPPING CART FORM */
/* ############################################################################################ */


.page.cart {
	position: absolute;
	width: 100%;
	height: auto;
	margin: -230px auto 0 auto;
	top: 50%;
	text-align: center;
	white-space: nowrap;
}

.page.cart .content-column {
	height: 430px;
}

.page.cart .info-column .cartbasket {
	top: 3px;
	right: 0px;
}


/* ############################################################################################ */
/* PRODUCTS IN CART */
/* ############################################################################################ */


#products-container > div {
	position: relative;
	width: auto;
	margin: 0 0 10px 0px;
	white-space: nowrap;
}

#products-container .productitemcell {
	display: inline-block;
	position: relative;
	width: 185px;
	margin: 0 10px;
	white-space: normal;
	font-size: 16px;
	text-align: center;
	vertical-align: top;
}

#product-thumbnails > .productitemcell {
	cursor: pointer;
}

#product-thumbnails > .productitemcell > a {
	display: block;
}

#products-container .vectorsprite.thumbnail-stroke {
	position: absolute;
	top: 0;
	left: 0;
}

#product-codes {
	display: none;
}

#product-names a {
	color: #FFF;
	font-size: 14px;
	font-family: 'DaysRegular';
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 20px;
	display: block;
}

#unit-prices {
	color: #808080;
}

#subtotals > .productitemcell {
	font-weight: bold;
	font-size: 18px;
}


#subtotals > .productitemcell > span,
#unit-prices > .productitemcell > span {
	font-size: 10px;
	display: block;
	margin-bottom: 2px;
}

#product-quantities {
	margin-top: 272px;
}

#product-quantities > .productitemcell > input {
	padding: 0;
	text-align: center;
	margin: 0 auto;
	font-size: 12px;
	margin: 14px auto 0 auto;
	padding-right: 2px;
	width: 30px;
}

#product-quantities .quantity-controls {
	position: absolute;
	width: 100%;
	top: 0;
}

#product-quantities .quantity-controls > a {
	display: block;
	position: absolute;
}

#product-quantities .quantity-controls > a > div {
	opacity: 0.2;
}

#product-quantities .quantity-controls > a > span {
	display: block;
	position: absolute;
	font-family: 'DaysRegular';
	top: -7px;
	left: 0px;
	width: 32px;
	height: 27px;
	font-size: 34px;
	color: #FFF;
}

#product-quantities .decrease {
	right: 50%;
	margin-right: 10px;
}

#product-quantities .increase {
	left: 50%;
	margin-left: 10px;
}

#subtotals {
	margin-top: 325px;
	color: #FFF;
}

#remove-buttons {
	position: absolute !important;
	top: 0;
	z-index: 2;
}

#remove-buttons  .productitemcell a {
	display:block;
}

#remove-buttons .remove {
	margin-left: 150px;
}


/* ############################################################################################ */
/* OVERRIDE BC GENERATED CLASSES */
/* ############################################################################################ */


#catCartDetails {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cartLink {
	position: relative;
	display: block;
	margin: -70px auto 0 auto;
	top: 50%;
	font-size: 16px;
	font-family: 'DaysRegular';
	color: #FFF;
	opacity: 0.5;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width: 500px;
}

.cartLink > span {
	display: block;
	position: relative;
	font-size: 30px;
	margin-top: 30px;
	text-decoration: underline;
}

.shippingCountryDiv {
	position: absolute;
	top: 0;
}

.shippingDiv {
	position: absolute;
	top: 36px;
}


#shippingCountrySpan {
	display: none;
}

#shippingSpan {
	display: none;
}
