

/* ############################################################################################ */
/* CART SUMMARY */
/* ############################################################################################ */


#cartsummary {
	display: block;
	position: absolute;
	top: 0;
	right: 38px;
	z-index: 100;
	text-decoration: none;
}

#cartsummary h2 {
	color: #FFF;
	text-transform: uppercase;
	font-family: 'DaysRegular';
	font-size: 14px;
	margin: 7px 0 0 25px;
	float: left;
}

#cartsummary .cartsummary-basket {
	margin: 8px 0 0 6px;
	float: left;
}

#cartsummary output {
	display: inline-block;
	color: #777;
	font-size: 14px;
	margin: 7px 0 0 20px;
}
