/* ############################################################################################ */
/* DUST */
/* ############################################################################################ */
.dust {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4; }
  .dust ul, .dust li {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; }
  .dust .infinite-bg-scroll canvas {
    opacity: 0; }
  .dust .composite-alpha {
    display: block;
    position: absolute;
    bottom: 0;
    background-repeat: repeat-x;
    background-position: 0 0;
    width: 100%;
    height: 573px; }
  .dust .composite-alpha img {
    display: none; }
  .dust .static canvas {
    position: absolute; }

/* ############################################################################################ */
/* PRODUCTS MAIN PAGE*/
/* ############################################################################################ */
body.products-main {
  background-color: #c5baa7;
  background-image: url("/i/products/products-bg.jpg?action=thumbnail&width=720&height=480");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover; }
  @media only screen and (min-width: 720px) and (max-width: 1440px) {
    body.products-main {
      background-image: url("/i/products/products-bg.jpg?action=thumbnail&width=1440&height=960"); } }
  @media only screen and (min-width: 1441px) and (max-width: 2160px) {
    body.products-main {
      background-image: url("/i/products/products-bg.jpg?action=thumbnail&width=2160&height=1440"); } }
  @media only screen and (min-width: 2161px) {
    body.products-main {
      background-image: url("/i/products/products-bg.jpg"); } }

body.products-main > footer .floor {
  height: 169px;
  background: url(/i/products/floor-light.png) 50% repeat-x; }

#catalogs {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  text-align: center; }
  #catalogs > ul {
    display: inline-block;
    position: absolute;
    left: auto;
    right: 0%;
    width: auto;
    min-width: 100%;
    top: 50%;
    margin: -185px auto 0 auto;
    text-align: center;
    white-space: nowrap;
    -webkit-transition: right 200ms ease-out;
    -moz-transition: right 200ms ease-out;
    -ms-transition: right 200ms ease-out;
    -o-transition: right 200ms ease-out;
    transition: right 200ms ease-out; }
  #catalogs > ul:nth-child(2) {
    right: -100%; }
  #catalogs > ul:nth-child(3) {
    right: -200%; }
  #catalogs > ul:nth-child(4) {
    right: -300%; }
  #catalogs > ul:nth-child(5) {
    right: -400%; }
  #catalogs li {
    display: inline-block;
    width: 214px;
    height: 185px;
    margin: 0 -25px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    white-space: normal; }
    #catalogs li h2 {
      display: none; }
    #catalogs li:nth-child(even) {
      top: 140px; }
    #catalogs li:nth-child(odd) {
      top: 45px; }
    #catalogs li:not(.active):hover .label {
      opacity: 1; }
    #catalogs li.active {
      margin: 0 60px;
      width: 428px;
      height: 370px;
      top: 0px !important; }
      #catalogs li.active h2 {
        position: absolute;
        display: inline-block;
        top: 155px;
        left: 23px;
        width: 382px;
        height: 60px;
        background-color: #8fc730;
        font-family: DaysRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 58px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: normal;
        color: #FFF;
        text-align: left;
        text-indent: 1em;
        opacity: 0;
        -webkit-transition: opacity 200ms cubic-bezier(0, 0, 0, 1);
        -moz-transition: opacity 200ms cubic-bezier(0, 0, 0, 1);
        -ms-transition: opacity 200ms cubic-bezier(0, 0, 0, 1);
        -o-transition: opacity 200ms cubic-bezier(0, 0, 0, 1);
        transition: opacity 200ms cubic-bezier(0, 0, 0, 1); }
        #catalogs li.active h2:before {
          display: block;
          position: absolute;
          content: "";
          top: 0;
          margin-left: -17px;
          border-style: solid;
          border-width: 30px 17px 30px 0;
          border-color: transparent #8fc730 transparent transparent;
          /* rgba(141, 199, 45, 0.7) ?? */ }
        #catalogs li.active h2:after {
          display: block;
          position: absolute;
          content: "";
          top: 0;
          margin-left: 382px;
          border-style: solid;
          border-width: 30px 0 30px 17px;
          border-color: transparent transparent transparent #8fc730; }
      #catalogs li.active h2 span.vectorsprite {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 1em;
        margin-top: 1.35em; }
      #catalogs li.active:hover h2 {
        opacity: 1; }
      #catalogs li.active:hover .cover-photo {
        visibility: visible; }
  #catalogs > ul > li:last-child:after {
    content: "";
    display: table;
    clear: both; }
  #catalogs article {
    width: 100%;
    height: 100%; }
    #catalogs article img {
      display: none; }
    #catalogs article .cover-photo {
      display: block;
      visibility: hidden;
      position: absolute;
      width: 85%;
      height: 85%;
      top: 50%;
      left: 50%;
      margin: -168px 0 0 -181px; }
      #catalogs article .cover-photo img {
        display: none;
        width: 100%;
        height: auto; }
      #catalogs article .cover-photo:before {
        position: absolute;
        display: block;
        bottom: -15px;
        z-index: -1;
        width: 90%;
        height: 50%;
        left: 5%;
        content: '';
        -webkit-box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.7);
        box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.7); }
      #catalogs article .cover-photo canvas {
        width: 100%;
        height: auto; }
    #catalogs article a {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      position: absolute;
      text-align: center;
      text-decoration: none; }
      #catalogs article a .label {
        text-decoration: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-family: DaysRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: normal;
        color: #FFF;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 77px 30px 0 30px;
        opacity: 0;
        -webkit-transition: opacity 300ms cubic-bezier(0, 0, 0, 1);
        -moz-transition: opacity 300ms cubic-bezier(0, 0, 0, 1);
        -ms-transition: opacity 300ms cubic-bezier(0, 0, 0, 1);
        -o-transition: opacity 300ms cubic-bezier(0, 0, 0, 1);
        transition: opacity 300ms cubic-bezier(0, 0, 0, 1); }
