/* Z-INDEX ORDER: */
/* 3: body > footer > .floor */
/* 4: dust */
/* 5: .page */
/* 100: nav.arrow-navigation a.prev  */
/* 101: nav.arrow-navigation a.next  */
/* 200: body > footer > nav */
/* 300: #buy */
/* 400: .steps */
/* 800: body > header  */
/* 900: #menu-opener nav */
/* ############################################################################################ */
/* GENERAL RESET, USED ON ALL PAGES */
/* ############################################################################################ */
html, body {
  width: 100%;
  height: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:focus,
input:focus,
textarea:focus {
  outline: none; }

::-moz-selection {
  background: #8dc72d;
  color: #000; }

::selection {
  background: #8dc72d;
  color: #000;
  outline: none; }

a {
  cursor: pointer; }

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative; }

.jspPane {
  position: absolute; }

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: red; }

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red; }

.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0; }

.jspCap {
  display: none; }

.jspHorizontalBar .jspCap {
  float: left; }

.jspTrack {
  background: #dde;
  position: relative; }

.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer; }

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%; }

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer; }

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d; }

.jspVerticalBar .jspArrow {
  height: 16px; }

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%; }

.jspVerticalBar .jspArrow:focus {
  outline: none; }

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0; }

/* ############################################################################################ */
/* SHOP + CART HORIZONTAL SCROLLBAR */
/* ############################################################################################ */
.jspContainer {
  overflow: visible !important; }

.jspHorizontalBar {
  height: 18px;
  margin-bottom: 32px; }

.jspHorizontalBar,
.jspHorizontalBar .jspCap,
.jspHorizontalBar .jspDrag,
.jspHorizontalBar .jspTrack {
  background-color: transparent; }

.jspHorizontalBar .jspTrack {
  background: url(/i/horizontal-line.png) 0 0 no-repeat;
  background-size: 331px 100%;
  height: 56px;
  max-width: 311px; }

.jspHorizontalBar .jspDrag {
  margin-top: 13px; }

.jspHorizontalBar .jspCap {
  display: block;
  height: 100%; }

.jspHorizontalBar .jspCapLeft {
  width: 48px; }

#preload {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-left: -75px;
  margin-top: -110px;
  z-index: 99999; }
  #preload.paused {
    display: none; }

/* ############################################################################################ */
/* RASTER SPRITES */
/* ############################################################################################ */
/* SET SIZE TO HALF */
.rastersprite {
  background-repeat: no-repeat;
  background-image: url(/i/rastersprite.png);
  background-size: 228px 113px; }

.carnationgroup-logo {
  width: 147px;
  height: 11px;
  background-position: -4px -84px; }

.cartbasket {
  width: 104px;
  height: 28px;
  background-position: -32px -4px; }

.cartsummary-basket {
  width: 22px;
  height: 15px;
  background-position: -4px -4px; }

.paypal {
  width: 112px;
  height: 30px;
  background-position: -110px -38px; }

.step-shadow {
  width: 170px;
  height: 8px;
  background-position: -4px -101px; }

.wrc-logo {
  width: 100px;
  height: 40px;
  background-position: -4px -38px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .rastersprite {
    background-image: url(/i/rastersprite-2x.png); } }
/* ############################################################################################ */
/* VECTOR SPRITES */
/* ############################################################################################ */
.vectorsprite, .jspVerticalBar .jspDrag,
.jspHorizontalBar .jspDrag,
article.overview dl:before {
  background-repeat: no-repeat;
  background-image: url(/i/vectorsprite.png); }

.arrow-left {
  width: 9px;
  height: 22px;
  background-position: -460px -2px; }

.arrow-right {
  width: 9px;
  height: 22px;
  background-position: -471px -2px; }

.black-prev-next {
  width: 220px;
  height: 60px;
  background-position: -272px -73px; }

.cartsummary {
  width: 277px;
  height: 31px;
  background-position: -2px -34px; }

.checkbox-bg {
  width: 40px;
  height: 33px;
  background-position: -328px -34px; }

.checked {
  width: 40px;
  height: 33px;
  background-position: -370px -34px; }

.citroen-logo {
  width: 21px;
  height: 18px;
  background-position: -310px -2px; }

.contact-email {
  width: 29px;
  height: 18px;
  background-position: -279px -2px; }

.contact-location {
  width: 22px;
  height: 32px;
  background-position: -304px -34px; }

.contact-phone {
  width: 21px;
  height: 31px;
  background-position: -281px -34px; }

.dhl-logo {
  width: 53px;
  height: 8px;
  background-position: -2px -2px; }

.downloads-thumbnail-shine {
  width: 105px;
  height: 92px;
  background-position: -332px -135px; }

.downloads-thumbnail-stroke {
  width: 93px;
  height: 80px;
  background-position: -237px -135px; }

.dragbar, .jspVerticalBar .jspDrag {
  width: 18px;
  height: 110px;
  background-position: -439px -135px; }

.eye-icon {
  width: 30px;
  height: 18px;
  background-position: -353px -2px; }

.fb-join {
  width: 60px;
  height: 20px;
  background-position: -385px -2px; }

.green-prev-next {
  width: 220px;
  height: 60px;
  background-position: -494px -73px; }

.hdragbar, .jspHorizontalBar .jspDrag {
  width: 111px;
  height: 18px;
  background-position: -166px -2px; }

.info-point {
  width: 18px;
  height: 16px;
  background-position: -146px -2px; }

.input-bg {
  width: 294px;
  height: 37px;
  background-position: -412px -34px; }

.input-small-bg {
  width: 128px;
  height: 37px;
  background-position: -2px -73px; }

.largedot {
  width: 428px;
  height: 370px;
  background-position: -328px -297px; }

.largedot-shine {
  width: 324px;
  height: 370px;
  background-position: -2px -297px; }

.mainmenu-line1 {
  width: 35px;
  height: 62px;
  background-position: -100px -135px; }

.mainmenu-line2 {
  width: 35px;
  height: 62px;
  background-position: -137px -135px; }

.mainmenu-point {
  width: 58px;
  height: 50px;
  background-position: -212px -73px; }

.mainmenu-point-over, body > header > nav a:hover .mainmenu-point {
  width: 58px;
  height: 50px;
  background-position: -152px -73px; }

.menu-opener {
  width: 62px;
  height: 30px;
  background-position: -584px -2px; }

.menu-opener-over, .menu-opener:hover {
  width: 62px;
  height: 30px;
  background-position: -648px -2px; }

.nikon-logo {
  width: 41px;
  height: 12px;
  background-position: -70px -2px; }

.onedot, article.overview dl:before {
  width: 11px;
  height: 10px;
  background-position: -57px -2px; }

.prev-next-shine {
  width: 96px;
  height: 60px;
  background-position: -2px -135px; }

.quantity-button {
  width: 32px;
  height: 27px;
  background-position: -516px -2px; }

.quotemark {
  width: 18px;
  height: 38px;
  background-position: -132px -73px; }

.remove {
  width: 32px;
  height: 27px;
  background-position: -550px -2px; }

.select-arrow {
  width: 32px;
  height: 27px;
  background-position: -482px -2px; }

.smalldot-shine {
  width: 61px;
  height: 70px;
  background-position: -174px -135px; }

.threedots {
  width: 31px;
  height: 15px;
  background-position: -113px -2px; }

.thumbnail-stroke {
  width: 185px;
  height: 160px;
  background-position: -459px -135px; }

.twodots {
  width: 11px;
  height: 21px;
  background-position: -447px -2px; }

.vw-logo {
  width: 18px;
  height: 18px;
  background-position: -333px -2px; }

body > footer {
  left: 0;
  right: 0; }
  body > footer > .floor {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3; }
  body > footer > nav {
    overflow: hidden;
    display: block;
    position: absolute;
    width: 100%;
    height: 83px;
    bottom: 0;
    z-index: 200; }
    body > footer > nav:hover .gradient {
      opacity: 0.75; }
  body > footer .gradient {
    position: relative !important;
    height: 140px;
    opacity: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    -webkit-transition: opacity 0.6s ease-out;
    -moz-transition: opacity 0.6s ease-out;
    -ms-transition: opacity 0.6s ease-out;
    -o-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out; }
  body > footer .richard-balint-logo {
    width: 150px;
    height: 83px; }
    body > footer .richard-balint-logo h2 {
      display: block;
      height: 54px;
      text-transform: uppercase;
      font-family: 'DaysRegular';
      font-size: 18px;
      line-height: 15px;
      text-align: right; }
      body > footer .richard-balint-logo h2 a {
        text-decoration: none;
        color: #FFF; }
  body > footer .wrc {
    position: absolute;
    width: 230px;
    height: 83px;
    right: 40px;
    bottom: 0; }
    body > footer .wrc h2 {
      display: block;
      position: absolute;
      text-transform: uppercase;
      font-family: 'DaysRegular';
      text-rendering: optimizeLegibility;
      font-size: 8.5px;
      line-height: 10px;
      color: #FFF;
      text-align: right;
      bottom: 21px;
      right: 110px;
      height: 40px; }
    body > footer .wrc .wrc-logo {
      display: block;
      position: absolute;
      bottom: 20px;
      right: 0;
      width: 100px;
      height: 40px; }
    body > footer .wrc a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }
  body > footer .sponsors {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 32px;
    margin-left: -76px;
    opacity: 0.6; }
    body > footer .sponsors li {
      display: inline-block;
      vertical-align: middle; }
      body > footer .sponsors li a {
        display: block;
        color: rgba(0, 0, 0, 0);
        font-size: 0; }
    @media only screen and (min-width: 0px) and (max-width: 1000px) {
      body > footer .sponsors {
        display: none; } }
  body > footer .carnationgroup-logo {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 8px;
    margin: 0 0 0 -74px;
    font-size: 0;
    color: rgba(0, 0, 0, 0); }
  body > footer .social-container {
    display: block;
    position: absolute;
    width: 250px;
    bottom: 30px;
    left: 180px; }
    body > footer .social-container a.fb-join {
      display: inline-block;
      font-size: 0;
      color: rgba(0, 0, 0, 0);
      vertical-align: top; }
    body > footer .social-container > li {
      display: block;
      float: left;
      vertical-align: top;
      font-size: 0;
      color: rgba(0, 0, 0, 0); }
      body > footer .social-container > li:nth-child(2) {
        margin: 0 20px; }

/* ############################################################################################ */
/* GENERAL SITE SETTINGS */
/* ############################################################################################ */
a:focus,
input:focus,
textarea:focus {
  outline: none; }

::-moz-selection {
  background: #8fc730;
  color: #000; }

::selection {
  background: #8fc730;
  color: #000;
  outline: none; }

a {
  cursor: pointer; }

hr {
  border: 0;
  margin: 0;
  padding: 0; }

html {
  -webkit-font-smoothing: antialiased; }

body {
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #333;
  background-image: url(/i/diagonal-gradient.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

/* DEBUG */
#stats {
  display: block;
  position: absolute;
  top: 0; }

body > .page {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden; }

/* ############################################################################################ */
/* SPRITES */
/* ############################################################################################ */
/* ############################################################################################ */
/* FONTS */
/* ############################################################################################ */
@font-face {
  font-family: 'DaysRegular';
  src: url("/css/fonts/Days-webfont.eot");
  src: url("/css/fonts/Days-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/Days-webfont.woff") format("woff"), url("/css/fonts/Days-webfont.ttf") format("truetype"), url("/css/fonts/Days-webfont.svg#DaysRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ############################################################################################ */
/* ANIMATIONS */
/* ############################################################################################ */
.animate-slide {
  -webkit-transition: left 400ms ease-in-out, margin-left 400ms ease-in-out, padding-left 400ms ease-in-out, right 400ms ease-in-out, margin-right 400ms ease-in-out;
  -moz-transition: left 400ms ease-in-out, margin-left 400ms ease-in-out, padding-left 400ms ease-in-out, right 400ms ease-in-out, margin-right 400ms ease-in-out;
  -ms-transition: left 400ms ease-in-out, margin-left 400ms ease-in-out, padding-left 400ms ease-in-out, right 400ms ease-in-out, margin-right 400ms ease-in-out;
  -o-transition: left 400ms ease-in-out, margin-left 400ms ease-in-out, padding-left 400ms ease-in-out, right 400ms ease-in-out, margin-right 400ms ease-in-out;
  transition: left 400ms ease-in-out, margin-left 400ms ease-in-out, padding-left 400ms ease-in-out, right 400ms ease-in-out, margin-right 400ms ease-in-out; }

.animate-scale {
  -webkit-transition: width 400ms ease-in-out, height 400ms ease-in-out;
  -moz-transition: width 400ms ease-in-out, height 400ms ease-in-out;
  -ms-transition: width 400ms ease-in-out, height 400ms ease-in-out;
  -o-transition: width 400ms ease-in-out, height 400ms ease-in-out;
  transition: width 400ms ease-in-out, height 400ms ease-in-out; }

.animate-opacity {
  -webkit-transition: opacity 500ms ease-out;
  -moz-transition: opacity 500ms ease-out;
  -ms-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out; }

/* ############################################################################################ */
/* HEADER & MENU */
/* ############################################################################################ */
body > header {
  display: block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(16, 19, 47, 0.5);
  z-index: 800; }

#menu-opener {
  position: fixed;
  top: 20px;
  left: 50%;
  margin: 0 0 0 -31px;
  z-index: 900;
  overflow: hidden;
  text-indent: 110%; }

body > header .animate-opacity {
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -ms-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out; }
body > header > nav {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -325px 0 0 -375px;
  width: 750px;
  height: 650px; }
  body > header > nav svg {
    position: absolute; }
  body > header > nav a {
    display: block;
    position: absolute;
    font-family: DaysRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    color: #FFF;
    white-space: nowrap; }
    body > header > nav a span {
      vertical-align: middle;
      display: inline-block; }
    body > header > nav a .mainmenu-point {
      position: absolute;
      margin: -24px -29px 0 -29px; }
    body > header > nav a .text {
      line-height: 62px;
      overflow: hidden;
      position: relative;
      margin-top: -31px;
      width: auto;
      -webkit-transition: margin-left 500ms cubic-bezier(0.19, 1, 0.22, 1), margin-right 500ms cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: margin-left 500ms cubic-bezier(0.19, 1, 0.22, 1), margin-right 500ms cubic-bezier(0.19, 1, 0.22, 1);
      -ms-transition: margin-left 500ms cubic-bezier(0.19, 1, 0.22, 1), margin-right 500ms cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: margin-left 500ms cubic-bezier(0.19, 1, 0.22, 1), margin-right 500ms cubic-bezier(0.19, 1, 0.22, 1);
      transition: margin-left 500ms cubic-bezier(0.19, 1, 0.22, 1), margin-right 500ms cubic-bezier(0.19, 1, 0.22, 1); }
    body > header > nav a .delayed {
      -webkit-transition-delay: 300ms;
      -moz-transition-delay: 300ms;
      -ms-transition-delay: 300ms;
      -o-transition-delay: 300ms;
      transition-delay: 300ms; }
    body > header > nav a .nodelay {
      -webkit-transition-delay: 0ms;
      -moz-transition-delay: 0ms;
      -ms-transition-delay: 0ms;
      -o-transition-delay: 0ms;
      transition-delay: 0ms; }
    body > header > nav a .mainmenu-line1, body > header > nav a .mainmenu-line2 {
      margin-top: -31px;
      opacity: 0; }

/* ############################################################################################ */
/* BACK/FORWARD NAVIGATION */
/* ############################################################################################ */
nav.arrow-navigation {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  font-size: 1em; }
  nav.arrow-navigation a {
    display: block;
    position: absolute;
    background-color: #000;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0; }
    nav.arrow-navigation a .shadow {
      display: block;
      position: absolute;
      width: 400%;
      height: 400%;
      top: -150%;
      margin: 0;
      opacity: 0;
      pointer-events: none;
      background-image: -webkit-radial-gradient(50% 50%, ellipse cover, cirlce cover, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.5) 30%, transparent 100%);
      background-image: -moz-radial-gradient(50% 50%, ellipse cover, cirlce cover, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.5) 30%, transparent 100%);
      background-image: -ms-radial-gradient(50% 50%, ellipse cover, cirlce cover, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.5) 30%, transparent 100%);
      background-image: -o-radial-gradient(50% 50%, ellipse cover, cirlce cover, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.5) 30%, transparent 100%);
      background-image: radial-gradient(50% 50%, ellipse cover, cirlce cover, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.5) 30%, transparent 100%); }
    nav.arrow-navigation a.prev {
      left: -25px;
      text-align: right;
      z-index: 100; }
      nav.arrow-navigation a.prev:hover {
        left: 0px; }
        nav.arrow-navigation a.prev:hover .thumbnail {
          right: -75px; }
        nav.arrow-navigation a.prev:hover .shadow {
          opacity: .75; }
      nav.arrow-navigation a.prev:before {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        margin-left: 60px;
        border-style: solid;
        border-width: 30px 0 30px 17px;
        border-color: transparent transparent transparent black; }
      nav.arrow-navigation a.prev span {
        margin-right: 10px;
        right: 0; }
      nav.arrow-navigation a.prev .thumbnail {
        right: 40px; }
      nav.arrow-navigation a.prev .shadow {
        right: -150%; }
    nav.arrow-navigation a.next {
      right: -25px;
      z-index: 101; }
      nav.arrow-navigation a.next:hover {
        right: 0px; }
        nav.arrow-navigation a.next:hover .thumbnail {
          left: -75px; }
        nav.arrow-navigation a.next:hover .shadow {
          opacity: .75; }
      nav.arrow-navigation a.next:before {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        margin-left: -17px;
        border-style: solid;
        border-width: 30px 17px 30px 0;
        border-color: transparent black transparent transparent; }
      nav.arrow-navigation a.next span {
        margin-left: 10px; }
      nav.arrow-navigation a.next .thumbnail {
        left: 40px; }
      nav.arrow-navigation a.next .shadow {
        left: -150%; }
    nav.arrow-navigation a span {
      display: inline-block;
      position: relative;
      overflow: hidden;
      margin-top: 18px;
      text-indent: 110%; }
    nav.arrow-navigation a .thumbnail {
      position: absolute;
      top: -12px;
      width: 135px;
      height: 85px; }

/* ############################################################################################ */
/* STEPS NAVIGATION */
/* ############################################################################################ */
nav.steps {
  position: absolute;
  text-align: center;
  display: inline-block;
  bottom: 83px;
  width: 100%;
  height: 60px;
  z-index: 400;
  font-size: 0px; }
  nav.steps ul {
    display: inline-block; }
  nav.steps li {
    position: relative;
    display: inline-block;
    margin: 0 47px;
    font-size: 16px;
    vertical-align: middle; }
    nav.steps li a {
      display: block;
      width: 145px;
      height: 60px;
      background-color: #000;
      font-family: DaysRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 60px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: normal;
      color: #FFF;
      text-align: center;
      text-decoration: none; }
      nav.steps li a:active {
        background-color: #000; }
      nav.steps li a:before, nav.steps li a:active:before, nav.steps li a:visited:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-style: solid;
        margin-left: -17px;
        border-width: 30px 17px 30px 0;
        border-color: transparent black transparent transparent; }
      nav.steps li a:after, nav.steps li a:active:after, nav.steps li a:visited:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        border-style: solid;
        margin-right: -17px;
        border-width: 30px 0 30px 17px;
        border-color: transparent transparent transparent black; }
      nav.steps li a:hover {
        background-color: #FFF;
        color: #000; }
        nav.steps li a:hover:before {
          border-right-color: #FFF; }
        nav.steps li a:hover:after {
          border-left-color: #FFF; }
    nav.steps li:not(.inactive-step):not(.enabled-step) a {
      pointer-events: none;
      cursor: default; }
    nav.steps li.inactive-step {
      margin: 0 15px; }
      nav.steps li.inactive-step a {
        width: 100px;
        height: 18px;
        font-size: 10.5px;
        color: #707070;
        line-height: 18px; }
        nav.steps li.inactive-step a:before {
          margin-left: -5px;
          border-width: 9px 5px 9px 0; }
        nav.steps li.inactive-step a:after {
          margin-right: -5px;
          border-width: 9px 0 9px 5px; }
      nav.steps li.inactive-step .step-shadow {
        display: none; }
    nav.steps li.disabled-step {
      opacity: 0.2; }
      nav.steps li.disabled-step a {
        pointer-events: none; }
        nav.steps li.disabled-step a:visited {
          background-color: #000; }
  nav.steps .step-label-smaller {
    font-size: 12px; }
  nav.steps .step-shadow {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 70px;
    margin-left: -85px; }

/* ############################################################################################ */
/* COMMON STYLES  */
/* ############################################################################################ */
.formatted-price {
  display: none; }

hr.horizontal-line-32px {
  width: 32px;
  height: 3px;
  color: #8fc730;
  background-color: #8fc730; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.align-top {
  display: block;
  position: absolute;
  top: 0; }

.align-bottom {
  display: block;
  position: absolute;
  bottom: 0; }

.align-right {
  display: block;
  position: absolute;
  right: 0; }

.fb-like {
  overflow: hidden; }
