
@import "mixins";


/* ############################################################################################ */
/* DOWNLOADS PAGE */
/* ############################################################################################ */


body.downloads {

	.steps {
		height: 30px;
	}

	.page {
		background: url(/i/dither.png) repeat 50% 50% transparent;
		
		svg {
			@include absolute;
		}
	}
	
	article {
		@include absolute;
		@include align-tl;
		
		> ul {
			display: none;
		}
		
		.thumbnails {
			@include absolute;
			@include align-tl;
		}
		
		> figure {
			display: none;
		}

		section {
		
			figure {
				@include absolute;

				.downloads-thumbnail-stroke {
					visibility: hidden;
					top: 6px;
					left: 7px;
				}

				.eye-icon {
					position: absolute;
					top: 37px;
					left: 37px;
					display: none;
				}

				svg, div {
					@include absolute;
				}

				svg {
					width: 93px;
					height: 80px;
				}

				svg {
					top: 6px;
					left: 6px;
				}

				&:hover .downloads-thumbnail-stroke {
					visibility: visible;
				}

				&.active {
					z-index: 2000;
					.eye-icon {
						display: block;
					}
				}
			}
		}
		
		
	}
}

#fullscreen-wallpaper {
	@include absolute;
	@include fullsize;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	z-index: 1999;
}

/* ############################################################################################ */
/* DUST */
/* ############################################################################################ */


.dust {
	@include absolute;
	@include fullsize;
	top: 0;
	z-index: -2;
	opacity: .75;
	
	ul, li {
		@include fullsize;
		display: block;
		position: absolute;
	}
}

.composite-alpha {
	img {
		display: none;
	}
}



/* ############################################################################################ */
/* PAGE DECORATIONS */
/* ############################################################################################ */

