@import "bourbon/bourbon";
@import "mixins";

::-moz-selection { background: $wrc-green; color:#000; }
::selection { background: $wrc-green; color:#000; outline:none; }

body {
	overflow:hidden;
}

.page {
	@include absolute;
	@include fullsize;
	min-height: 100%;
	background: url(/i/dither.png) repeat 50% 50% transparent;
}

/* ############################################################################################ */
/* SPRITES */
/* ############################################################################################ */

.jspVerticalBar .jspDrag,
.jspHorizontalBar .jspDrag,
article.overview dl:before {
	@extend .vectorsprite;
}

.menu-opener:hover  {
	@extend .menu-opener-over;
}

body > header > nav a:hover .mainmenu-point {
	@extend .mainmenu-point-over;
}

article.overview dl:before {
	@extend .onedot;
}

.jspVerticalBar .jspDrag {
	@extend .dragbar;
}

.jspHorizontalBar .jspDrag {
	@extend .hdragbar;
}

/* ############################################################################################ */
/* ANIMATIONS */
/* ############################################################################################ */

.animate-slide {
	@include transition(left 400ms ease-in-out, margin-left 400ms ease-in-out, padding-left 400ms ease-in-out, right 400ms ease-in-out, margin-right 400ms ease-in-out);
}

.animate-scale {
	@include transition(width 400ms ease-in-out, height 400ms ease-in-out);
}

.animate-opacity {
	@include transition(opacity 500ms ease-out);
}

/* ############################################################################################ */
/* HEADER & MENU */
/* ############################################################################################ */

body > header {
	display: block;
	visibility: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(16, 19, 47, .5);
	z-index: 800;
}


#menu-opener {
	position: fixed;
	top: 20px;
	left: 50%;
	margin: 0 0 0 -31px;
	z-index: 900;
	overflow: hidden;
	text-indent: 110%;
}

body > header {

	.animate-opacity {
		@include transition(opacity 200ms ease-out);
	}

	> nav {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -325px 0 0 -375px;
		width: 750px;
		height: 650px;

		svg {
			position: absolute;
		}

		a {
			display: block;
			position: absolute;
			@include fontstyle-heading(14px, 16px);
			white-space: nowrap;

			span {
				vertical-align: middle;
				display: inline-block;
			}

			.mainmenu-point {
				position: absolute;
				margin: -24px -29px 0 -29px;
			}

			.text {
				line-height: 62px;
				overflow: hidden;
				position: relative;
				margin-top: -31px;
				width: auto;
				@include transition(margin-left 500ms cubic-bezier(0.19, 1, .22, 1), margin-right 500ms cubic-bezier(0.19, 1, .22, 1));
			}

			.delayed {
				@include transition-delay(300ms);
			}

			.nodelay {
				@include transition-delay(0ms);
			}

			.mainmenu-line1, .mainmenu-line2 {
				margin-top: -31px;
				opacity: 0;
			}
		}
	}
}

/* ############################################################################################ */
/* BACK/FORWARD NAVIGATION */
/* ############################################################################################ */

nav.arrow-navigation {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	font-size: 1em;

	a {
		display: block;
		position: absolute;
		background-color: #000;
		top: 50%;
		width: 60px;
		height: 60px;
		margin: -30px 0;

		.shadow {
			display: block;
			position: absolute;
			width: 400%;
			height: 400%;
			top: -150%;
			margin: 0;
			opacity: 0;
			pointer-events: none;
			@include background-image(radial-gradient(50% 50%, cirlce cover, rgba(#000, 0.6) 60%, rgba(#000, 0.5) 30%, transparent 100%));
		}

		&.prev {
			left: -25px;
			text-align: right;
			z-index: 100;

			&:hover {
				left: 0px;

				.thumbnail {
					right: -75px;
				}

				.shadow {
					opacity: .75;
				}
			}

			&:before {
				@include triangle-border(60, 60, #000, 1);
			}

			span {
				margin-right: 10px;
				right: 0;
			}

			.thumbnail {
				right: 40px;
			}

			.shadow {
				right: -150%;
			}
		}

		&.next {
			right: -25px;
			z-index: 101;

			&:hover {
				right: 0px;

				.thumbnail {
					left: -75px;
				}

				.shadow {
					opacity: .75;
				}
			}

			&:before {
				@include triangle-border(60, 60, #000, -1);
			}

			span {
				margin-left: 10px;
			}

			.thumbnail {
				left: 40px;
			}

			.shadow {
				left: -150%;
			}
		}

		span {
			display: inline-block;
			position: relative;
			overflow: hidden;
			margin-top: 18px;
			text-indent: 110%;
		}

		.thumbnail {
			position: absolute;
			top: -12px;
			width: 135px;
			height: 85px;
		}
	}
}

/* ############################################################################################ */
/* STEPS NAVIGATION */
/* ############################################################################################ */

nav.steps {
	position: absolute;
	text-align: center;
	display: inline-block;
	bottom: 83px;
	width: 100%;
	height: 60px;
	z-index: 400;
	font-size: 0px;

	ul {
		display: inline-block;
	}

	li {
		position: relative;
		display: inline-block;
		margin: 0 47px;
		font-size: 16px;
		vertical-align: middle;

		//ACTIVE STEPS
		a {
			display: block;
			width: 145px;
			height: 60px;
			background-color: #000;
			@include fontstyle-heading(16px, 60px);
			text-align: center;
			text-decoration: none;

			&:active {
				background-color: #000;
			}

			&:before,
			&:active:before,
			&:visited:before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				border-style: solid;
				margin-left: -17px;
				border-width: 30px 17px 30px 0;
				border-color: transparent #000 transparent transparent;
			}

			&:after,
			&:active:after,
			&:visited:after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				border-style: solid;
				margin-right: -17px;
				border-width: 30px 0 30px 17px;
				border-color: transparent transparent transparent #000;
			}

			//HOVER STATES
			&:hover {
				background-color: #FFF;
				color: #000;

				&:before {
					border-right-color: #FFF;
				}

				&:after {
					border-left-color: #FFF;
				}
			}

		}


		//CURRENT STEP
		&:not(.inactive-step):not(.enabled-step) {
			a {
				pointer-events: none;
				cursor: default;
			}
		}

		//INACTIVE STEPS
		&.inactive-step {
			margin: 0 15px;

			a {
				width: 100px;
				height: 18px;
				font-size: 10.5px;
				color: #707070;
				line-height: 18px;

				&:before {
					margin-left: -5px;
					border-width: 9px 5px 9px 0;
				}

				&:after {
					margin-right: -5px;
					border-width: 9px 0 9px 5px;
				}
			}

			.step-shadow {
				display: none;
			}
		}

		//DISABLED STEPS
		&.disabled-step {
			opacity: 0.2;

			a {
				pointer-events: none;

				&:visited {
					background-color: #000;
				}
			}

		}
	}

	.step-label-smaller {
		font-size: 12px;
	}

	//STEP SHADOW
	.step-shadow {
		position: absolute;
		top: 0;
		left: 50%;
		margin-top: 70px;
		margin-left: -85px;
	}
}




