
@import "bourbon/bourbon";

/* ############################################################################################ */
/* RASTER SPRITES */
/* ############################################################################################ */

/* SET SIZE TO HALF */
.rastersprite {background-repeat: no-repeat; background-image:url(/i/rastersprite.png); background-size: 228px 113px;}

.carnationgroup-logo {width:147px; height:11px; background-position: -4px -84px}
.cartbasket {width:104px; height:28px; background-position: -32px -4px}
.cartsummary-basket {width:22px; height:15px; background-position: -4px -4px}
.paypal {width:112px; height:30px; background-position: -110px -38px}
.step-shadow {width:170px; height:8px; background-position: -4px -101px}
.wrc-logo {width:100px; height:40px; background-position: -4px -38px}

@include hidpi(1.5) {
	.rastersprite {
		background-image:url(/i/rastersprite-2x.png);
	}
}


/* ############################################################################################ */
/* VECTOR SPRITES */
/* ############################################################################################ */

.vectorsprite {background-repeat: no-repeat;background-image:url(/i/vectorsprite.png)}

.arrow-left {width:9px; height:22px; background-position: -460px -2px}
.arrow-right {width:9px; height:22px; background-position: -471px -2px}
.black-prev-next {width:220px; height:60px; background-position: -272px -73px}
.cartsummary {width:277px; height:31px; background-position: -2px -34px}
.checkbox-bg {width:40px; height:33px; background-position: -328px -34px}
.checked {width:40px; height:33px; background-position: -370px -34px}
.citroen-logo {width:21px; height:18px; background-position: -310px -2px}
.contact-email {width:29px; height:18px; background-position: -279px -2px}
.contact-location {width:22px; height:32px; background-position: -304px -34px}
.contact-phone {width:21px; height:31px; background-position: -281px -34px}
.dhl-logo {width:53px; height:8px; background-position: -2px -2px}
.downloads-thumbnail-shine {width:105px; height:92px; background-position: -332px -135px}
.downloads-thumbnail-stroke {width:93px; height:80px; background-position: -237px -135px}
.dragbar {width:18px; height:110px; background-position: -439px -135px}
.eye-icon {width:30px; height:18px; background-position: -353px -2px}
.fb-join {width:60px; height:20px; background-position: -385px -2px}
.green-prev-next {width:220px; height:60px; background-position: -494px -73px}
.hdragbar {width:111px; height:18px; background-position: -166px -2px}
.info-point {width:18px; height:16px; background-position: -146px -2px}
.input-bg {width:294px; height:37px; background-position: -412px -34px}
.input-small-bg {width:128px; height:37px; background-position: -2px -73px}
.largedot {width:428px; height:370px; background-position: -328px -297px}
.largedot-shine {width:324px; height:370px; background-position: -2px -297px}
.mainmenu-line1 {width:35px; height:62px; background-position: -100px -135px}
.mainmenu-line2 {width:35px; height:62px; background-position: -137px -135px}
.mainmenu-point {width:58px; height:50px; background-position: -212px -73px}
.mainmenu-point-over {width:58px; height:50px; background-position: -152px -73px}
.menu-opener {width:62px; height:30px; background-position: -584px -2px}
.menu-opener-over {width:62px; height:30px; background-position: -648px -2px}
.nikon-logo {width:41px; height:12px; background-position: -70px -2px}
.onedot {width:11px; height:10px; background-position: -57px -2px}
.prev-next-shine {width:96px; height:60px; background-position: -2px -135px}
.quantity-button {width:32px; height:27px; background-position: -516px -2px}
.quotemark {width:18px; height:38px; background-position: -132px -73px}
.remove {width:32px; height:27px; background-position: -550px -2px}
.select-arrow {width:32px; height:27px; background-position: -482px -2px}
.smalldot-shine {width:61px; height:70px; background-position: -174px -135px}
.threedots {width:31px; height:15px; background-position: -113px -2px}
.thumbnail-stroke {width:185px; height:160px; background-position: -459px -135px}
.twodots {width:11px; height:21px; background-position: -447px -2px}
.vw-logo {width:18px; height:18px; background-position: -333px -2px}

