<ul class="race-data">
	<li class="city">{tag_City}</li>
	<li class="map-coordinates">{tag_Latitude, longitude (copy from Google Maps)}</li>
	<li class="name">{tag_Race name}</li>
	<li class="date">{tag_releasedate}</li>
	<li class="duration">{tag_Race duration (days)}</li>
	<li class="photo">{tag_Photo_value}</li>
	<li class="infolink">{tag_Info link}</li>
	<li class="infox">{tag_Driver infopoint X coordinate}</li>
	<li class="infoy">{tag_Driver infopoint Y coordinate}</li>
	<li class="firstname">{tag_Driver firstname}</li>
	<li class="lastname">{tag_Driver lastname}</li>
	<li class="origin">{tag_Driver's country of origin}</li>
	<li class="cartype">{tag_Car type}</li>
	<li class="co-driver">{tag_Co-driver}</li>
</ul>
