<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>

<div class="center over_all_under">
<!--[if !IE]>start breadcrumb<![endif]-->
<div class="center breadcrumb">
<p><a href="/home">Home</a> / Blog</p>
</div>
<!--[if !IE]>end breadcrumb<![endif]-->
</div>
<!--[if !IE]>start intro<![endif]-->
<div class="wrap_fullwidth big_padding" id="intro">
<div class="center">
<h2 id="page_title" class="line_back_ground">{tag_blogtitle}</h2>
<p id="slogan">{tag_blogdescription}</p>
</div>
</div>
<!--[if !IE]>end breadcrumb<![endif]-->
<br />
<br />
<div class="wrap_fullwidth" id="main">
<div class="center">
<div class="box_two_third">
<div class="post-list">     {tag_postlist,3}     <hr />
<!--[if !IE]>start pagination<![endif]-->
<div id="pagination" class="blog">Pages: {tag_previouspage} {tag_pagination} {tag_nextpage}</div>
<!--[if !IE]>end pagination<![endif]-->
</div>
</div>
<!--[if !IE]>start sidebar<![endif]-->
<div class="box_one_third last" id="right_sidebar">
<span id="sidebar_top"></span>
<span id="sidebar_bottom"></span>
<!--[if !IE]>start box<![endif]-->
<div class="box">
<h3 class="label">Advertise</h3>
<div class="sidebar_one_half clear_bottom_margin">{module_adrotator,1257}</div>
<div class="sidebar_one_half clear_bottom_margin last">{module_adrotator,1258}</div>
</div>
<!--[if !IE]>end box<![endif]-->
<!--[if !IE]>start box<![endif]-->
<div class="box">
<h3 class="label">Featured posts</h3>
{module_blogsitesummary,4020,3}
</div>
<!--[if !IE]>end box<![endif]-->
<!--[if !IE]>start box<![endif]-->
<div class="box">
<h3 class="label">Modern Style</h3>
<p class="clear_margin"><img alt="" src="/images/two.png" class="alignleft" />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali. Ut enim ad minim veniam, quis nostrud exercion. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint obcaecat cupiditat.</p>
</div>
<!--[if !IE]>end box<![endif]-->
</div>
<!--[if !IE]>end sidebar<![endif]-->
<!-- END .blog-container -->
</div>
</div>


</body>