<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>

<!--[if !IE]>start intro<![endif]-->
<div class="wrap_fullwidth big_padding" id="intro">
<div class="center">
<h2 id="page_title" class="line_back_ground">Error</h2>
<p id="slogan">Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt. Quis aute iure reprehenderit in dolore eu fugiat.</p>
</div>
</div>
<!--[if !IE]>end intro<![endif]-->
<div id="main" class="wrap_fullwidth">
<div class="center">
<div class="box-fullwidth">
<div class="system-error-message">
<p><span class="error">{module_error}</span></p>
</div>
</div>
</div>
</div>


</body>