<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>

<div class="center over_all_under">
<!--[if !IE]>start breadcrumb<![endif]-->
<div class="center breadcrumb">
<p><a href="/home">Home</a> </p>
</div>
<!--[if !IE]>end breadcrumb<![endif]-->
</div>
<div class="wrap_fullwidth big_padding" id="intro">
<div class="center">
<h2 id="page_title" class="line_back_ground">Form submitted</h2>
<p id="slogan">Your form as been submitted successfully</p>
</div>
</div>
<div class="wrap_fullwidth" id="main">
<div class="center">
<div class="box_fullwidth"><br />
<div class="system-message">
<h1>Thank you for your submission</h1>
<p>We will review your feedback as soon as possible. Your feedback helps us improve this website.</p>
<p><span class="error">{module_error}</span></p>
</div>
<!-- END .system-message -->
</div>
</div>
</div>


</body>