<!DOCTYPE HTML>
<!--

                    ████
                  ██    ██
            ████  ██    ██  ████            CarnationGroup - A part of POSSIBLE
          ██    ████    ████    ██          #digitalcreativecurious
          ██      ██    ██      ██
            ██                ██            that's who we are. talk to us, show us your code or in fact fool around with ours.
        ████████            ████████        you can get in touch with us through our site.
      ██                            ██      try to impress us and maybe you will get some extra points :)
      ██                            ██
        ████████            ████████
            ██                ██
          ██      ██    ██      ██
          ██    ████    ████    ██          http://www.carnationgroup.com
            ████  ██    ██  ████
                  ██    ██
                    ████

-->
<html class="no-js" dir="ltr" lang="en">
<head prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# website:http://ogp.me/ns/website#">
	<meta charset="utf-8">

	<meta name="keywords" content="WRC, World Rally Championship, WRC Face to Face, Richard Balint, rally, cars, drivers, co-drivers, official, photographer, album, book, photo, photography">
	<meta name="description" content="WRC Face to Face">
	<meta name="author" content="Richard Balint">

	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=yes">

	<link rel="shortcut icon" href="/favicon.ico"/>
	<link rel="icon" type="image/png" href="/favicon.png"/>
	<link rel="apple-touch-icon" href="/i/apple-touch-icon.png">

	<link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" />
	<title></title>

	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-35510538-1']);
		_gaq.push(['_setDomainName', '{module_sitehost}']);
		_gaq.push(['_setAllowLinker', true]);
		_gaq.push(['_trackPageview']);
	</script>
</head>
<body>
	<!-- HEADER -->
	{module_menu, version="2", menuId="1367475", moduleTemplateGroup="Mainmenu"}

	<!-- PAGE CONTENT -->
	{tag_pagecontent}

	<!-- FOOTER -->
	{module_contentholder, name="Footer"}

	<!-- SCRIPTS -->
	{module_contentholder, name="Scripts"}

	<!-- PRELOAD LAYER -->
	{module_contentholder, name="Preload"}

</body>
</html>