
@import "mixins";

/* ############################################################################################ */
/* RECEIPT PAGE */
/* ############################################################################################ */

.page.receipt {
	position: relative;
	top: 50%;
	margin: -220px auto 0 auto;
	width: 800px;
	display: block;
	height: auto;
}


.receipt-content {
	position: relative;
	width: 850px;
	margin: -180px auto 0 auto;
	top: 50%;

	.left-column {
		text-align: right;
	}

	h1 {
		display: block;
		position: relative;
		margin: 0 auto 40px auto;
		padding-left: 10px;
		width: 220px;
		@include fontstyle-heading(30px, 32px);
	}

	.thankyou {
		display: inline-block;
		text-align: right;
		@include fontstyle-heading(18px, 20px);
		margin-top: 20px;
		margin-bottom: 20px;
	}

}

.receipt-confirmation {
	color: #FFF;
	line-height: 1.2em;
}

.receipt-dataheader {
	color: #8DC72D;
	font-size: 0.9em;
	text-transform: uppercase;
	margin-top: 20px;
	font-weight: bold;
}

.receipt-data {
	font-size: 2em;
	margin-top: 6px;
	color: white;
}
