
@import "mixins";


/* ############################################################################################ */
/* CONTACT PAGE */
/* ############################################################################################ */


body.contact {
	.page {
		background: url(/i/dither.png) repeat 50% 50% transparent;
		
		> article {
			@include absolute;
			@include centered;
			margin: -185px auto 0 -365px;
			width: 730px;
			height: 370px;

			> svg {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				visibility: hidden;
				z-index: -1;
			}
		}
	}
	
	> footer .floor {
		background: url(/i/floor-dark.png) 50% repeat-x;
		height: 149px;
	}

	article {

		hgroup {
			margin-left: 330px;


			h1 {
				@include fontstyle-heading;
				margin-bottom: 6px;
			}

			h2 {
				@include fontstyle-bodytext;
				color: #FFF;
			}
		}
		
		a {
			@include absolute;
			@include fontstyle-detailstext;
			white-space: nowrap;
			&:hover {
				color: $wrc-green;
				
				figure {
					background-color: $wrc-green;
					
					&:before {
						border-right-color: $wrc-green;
					}
					
					&:after {
						border-left-color: $wrc-green;
					}
				}
			}
			
			&.address {
				left: 460px;
				top: 92px;
			}
			
			&.phone {
				left: 605px;
				top: 174px;
			}
			
			&.email {
				left: 460px;
				top: 256px;
			}
			
			> p {
				display: inline-block;
				vertical-align: middle;
				white-space: nowrap;
				margin-left: 30px;
			}
		}
	}
	
	figure {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		line-height: 60px;
		width: 35px;
		height: 60px;
		
		&:before {
			@include triangle-border(60, 35, transparent, -1);
		}
		
		&:after {
			@include triangle-border(60, 35, transparent, 1);
		}
		
		span {
			display: inline-block;
			vertical-align: middle;
		}
	}
}


/* ############################################################################################ */
/* DUST */
/* ############################################################################################ */


.dust {
	@include absolute;
	@include fullsize;
	top: 0;
	z-index: -2;
	opacity: .75;
	
	ul, li {
		@include absolute;
		@include fullsize;
	}
}

.composite-alpha { 
	img {
		display: none;
	}
}



/* ############################################################################################ */
/* PAGE DECORATIONS */
/* ############################################################################################ */


.car {
	position: absolute;
	left: 0; 
	bottom: 25px;
}

.form-bg-container {
	@include absolute;
	visibility: hidden;
	z-index: -1;
}
