
@import "bourbon/bourbon";
@import "mixins";
@import "dust";


/* ############################################################################################ */
/* PRODUCTS MAIN PAGE*/
/* ############################################################################################ */


body.products-main {
	$bgWidth: 2880;
	$bgHeight: 1920;
	$resizedBg: '/i/products/products-bg.jpg?action=thumbnail&width=' + ($bgWidth * 0.25) + '&height=' + ($bgHeight * 0.25);

	background-color: #c5baa7;
	background-image: url($resizedBg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-size: cover;

	@include mediaquery(width, $bgWidth * 0.25 + 0px, $bgWidth * 0.5 + 0px) {
		$resizedBg: '/i/products/products-bg.jpg?action=thumbnail&width=' + ($bgWidth * 0.5) + '&height=' + ($bgHeight * 0.5);
		background-image: url($resizedBg);
	}

	@include mediaquery(width, $bgWidth * 0.5 + 1px, $bgWidth * 0.75 + 0px) {
		$resizedBg: '/i/products/products-bg.jpg?action=thumbnail&width=' + ($bgWidth * 0.75) + '&height=' + ($bgHeight * 0.75);
		background-image: url($resizedBg);
	}

	@include mediaquery(width, $bgWidth * 0.75 + 1px) {
		$resizedBg: '/i/products/products-bg.jpg';
		background-image: url($resizedBg);
	}
}

body.products-main > footer .floor {
	height: 169px;
	background: url(/i/products/floor-light.png) 50% repeat-x;
}

#catalogs {
	@include absolute;
	@include align-tl;
	@include fullsize;
	color: #FFF;
	text-align: center;

	> ul {
		display: inline-block;
		position: absolute;
		left: auto;
		right: 0%;
		width: auto;
		min-width: 100%;
		top: 50%;
		margin: -185px auto 0 auto;
		text-align: center;
		white-space: nowrap;
		@include transition(right 200ms ease-out);
	}

	@for $i from 1 through 4 {
		> ul:nth-child(#{$i+1}) { right: -($i * 100%); }
	}

	li {
		display: inline-block;
		width: 214px;
		height: 185px;
		margin: 0 -25px;
		position: relative;
		@include box-sizing(border-box);
		vertical-align: top;
		white-space: normal;

		//@include transition(margin-left 200ms cubic-bezier(0, 0, 0, 1), margin-right 200ms cubic-bezier(0, 0, 0, 1), width 200ms cubic-bezier(0, 0, 0, 1), height 200ms cubic-bezier(0, 0, 0, 1), top 200ms cubic-bezier(0, 0, 0, 1));

		h2 {
			display: none;
		}

		&:nth-child(even) {
			top: 140px;
		}

		&:nth-child(odd) {
			top: 45px;
		}

		&:not(.active):hover .label {
			opacity: 1;
		}

		&.active {
			margin: 0 60px;
			width: 428px;
			height: 370px;
			top: 0px !important;

			h2 {
				position: absolute;
				display: inline-block;
				top: 155px;
				left: 23px;
				width: 382px;
				height: 60px;
				background-color: $wrc-green;
				@include fontstyle-heading(14px, 58px);
				text-align: left;
				text-indent: 1em;
				opacity: 0;
				@include transition(opacity 200ms cubic-bezier(0, 0, 0, 1));

				&:before {
					@include triangle-border(60, 382, $wrc-green, -1);
					/* rgba(141, 199, 45, 0.7) ?? */
				}

				&:after {
					@include triangle-border(60, 382, $wrc-green, 1);
				}
			}

			h2 span.vectorsprite {
				display: inline-block;
				position: absolute;
				top: 0;
				right: 1em;
				margin-top: 1.35em;
			}

			&:hover {
				h2 {
					opacity: 1;
				}

				.cover-photo {
					visibility: visible;
				}
			}
		}
	}

	> ul > li:last-child:after {
		content: "";
		display: table;
		clear: both;
	}



	article {

		width: 100%;
		height: 100%;

		img {
			display: none;
		}

		.cover-photo {
			display: block;
			visibility: hidden;
			position: absolute;
			width: 85%;
			height: 85%;
			top: 50%;
			left: 50%;
			margin: -168px 0 0 -181px;

			img {
				display: none;
				width: 100%;
				height: auto;
			}

			&:before {
				position: absolute;
				display: block;
				bottom: -15px;
				z-index: -1;
				width: 90%;
				height: 50%;
				left: 5%;
				//margin: 60px 28px 0 28px;
				content: '';
				@include box-shadow(0px 10px 30px 10px rgba(#000, 0.7));
			}

			canvas {
				width: 100%;
				height: auto;
			}
		}

		a {
			@include fullsize;
			@include align-tl;
			display: block;
			position: absolute;
			text-align: center;
			text-decoration: none;

			.label {
				text-decoration: none;
				position: absolute;
				@include fullsize;
				@include align-tl;
				@include fontstyle-heading(14px, 16px);
				@include box-sizing(border-box);
				padding: 77px 30px 0 30px;
				opacity: 0;
				@include transition(opacity 300ms cubic-bezier(0, 0, 0, 1));
			}
		}
	}
}
