
<% if development? %>
	HAHAHAHAH
<% end %>

<!DOCTYPE HTML>
<html>
	<link rel="stylesheet" href="/css/about.css" type="text/css" media="screen" />
</head>
<body class="about">
	<div class="page">
		<div class="dust">
			<ul>
				<li class="composite-alpha" style="bottom: 60px; width: 1805px; height: 575px;"><img data-src="/i/dust/dust-dark-big_full.png" width="1805" height="575" style="color: #1b1b1b;" /></li>
				<li class="composite-alpha" style="left: 45%; bottom: 0px; width: 849px; height: 435px;"><img data-src="/i/dust/dust-rocks_full.png" width="849" height="435" /></li>
			</ul>
		</div>
		<svg id="cell-bg-SVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="960px" height="535px" viewBox="0 0 960 535" xml:space="preserve">
			<defs>
				<polygon id="dot" points="22.35,80 0,40 22.35,0 69.64,0 92,40 69.64,80"/>
			</defs>
			<g id="cell-bg"></g>
		</svg>
		<div class="author composite-alpha"><img data-src="/i/about/richard_balint_full.png" width="884" height="683" /></div>
		<article>
			<div>
				<h1>About</h1>
				<section>
					<p>Richárd Bálint - freelance sports photographer and journalist.</p>
					<p>Born on March 24, 1974, lives in Budapest, Hungary</p>
					<p>Work experience spanning over 16 years and 46 countries, including events such as 173 FIA WRC races and the 2010 FIFA World Cup, with over 250,000 archive photos.</p>
					<p><q>"With a camera in my hand<br />I don't photograph the world.<br />I create one."</q>(Richard)</p>
				</section>
			</div>
		</article>
	</div>
	<script>
		var scriptsQueue = scriptsQueue || new Array();
		scriptsQueue.push('/js/contact.js');
	</script>
</body>
</html>