---
layout: pages
bodyclass: downloads
---
<div class="page">
	<div class="dust">
		<ul>
			<li class="composite-alpha" style="bottom: 60px; width: 1805px; height: 575px;"><img data-src="/i/dust/dust-dark-big_full.png" width="1805" height="575" style="color: #1b1b1b;" /></li>
			<li class="composite-alpha" style="left: 45%; bottom: 0px; width: 849px; height: 435px;"><img data-src="/i/dust/dust-rocks_full.png" width="849" height="435" /></li>
		</ul>
	</div>
	<svg id="wallpaper-SVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" xml:space="preserve">
		<g>
			<defs>
				<polygon fill="black" id="dot" points="22.35,80 0,40 22.35,0 69.64,0 92,40 69.64,80"/>
			</defs>
			<clipPath id="wallpaper-clip">
				<!--<use xlink:href="#dot" />-->
			</clipPath>
			<g id="wallpaper" clip-path="url(#wallpaper-clip)">
				<image id="wallpaper-image" xlink:href="" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
			</g>
		</g>
	</svg>
	<article>
		<ul id="wallpaper-items">{module_webapps,17901,a,}</ul>
		<figure>
			<a href="#">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="105px" height="92px" viewBox="0 0 105 92" xml:space="preserve">
					<g>
						<defs><polygon id="inside" points="80.4,0 25.6,0 0,46 25.6,92 80.39,92 106,46"></polygon></defs>
						<clipPath id="clip"><use xlink:href="#inside" overflow="hidden"></use></clipPath>
						<use xlink:href="#inside" fill="#000000" />
						<g clip-path="url(#clip)">
							<image class="thumbnail-icon" overflow="hidden" width="100%" height="100%" xlink:href="" preserveAspectRatio="xMidYMid slice"></image>
						</g>
					</g>
				</svg>
				<div class="vectorsprite downloads-thumbnail-shine"></div>
				<div class="vectorsprite downloads-thumbnail-stroke"></div>
				<div class="vectorsprite eye-icon"></div>
			</a>
		</figure>
		<section></section>
	</article>
	<div id="fullscreen-wallpaper"></div>
</div>
<nav class="arrow-navigation">
	<a href="#" class="prev animate-slide"><span class="shadow animate-opacity"></span><span class="vectorsprite arrow-left">Previous</span></a>
	<a href="#" class="next animate-slide"><span class="shadow animate-opacity"></span><span class="vectorsprite arrow-right">Next</span></a>
</nav>
<nav class="steps">
	<ul>
		<li class="inactive-step"><a href="#" target="_blank"><span>iPhone</span><div class="rastersprite step-shadow"></div></a></li>
		<li class="inactive-step"><a href="#" target="_blank"><span>iPad</span><div class="rastersprite step-shadow"></div></a></li>
		<li class="inactive-step"><a href="#" target="_blank"><span>1920x1080</span><div class="rastersprite step-shadow"></div></a></li>
		<li class="inactive-step"><a href="#" target="_blank"><span>1366x768</span><div class="rastersprite step-shadow"></div></a></li>
		<li class="inactive-step"><a href="#" target="_blank"><span>1280x800</span><div class="rastersprite step-shadow"></div></a></li>
	</ul>
</nav>
<script>
	var scriptsQueue = scriptsQueue || new Array();
	scriptsQueue.push('/js/downloads.js');
</script>