<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen"/>
</head>
<body>

	<nav class="arrow-navigation">
		<a href="#" class="prev animate-slide">
			<span class="shadow animate-opacity"></span>

			<div class="thumbnail animate-slide">
				<svg version="1.1" id="thumbnail-prev-SVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" preserveaspectratio="none" viewbox="0 0 135 82" xml:space="preserve">
			        <defs>
			            <polygon id="th-prev-shape" points="0,82 111.63,82 135,41 111.63,0 0,0"></polygon>
			        </defs>
			        <clippath id="th-prev-clip-shape">
				        <use xlink:href="#th-prev-shape" overflow="hidden"></use>
			        </clippath>
			        <image id="th-prev-img" overflow="hidden" width="100%" height="100%" clip-path="url(#th-prev-clip-shape)" preserveaspectratio="none" xlink:href=""></image>
	             </svg>
			</div>
			<span class="vectorsprite arrow-left">Previous</span>
		</a>
		<a href="#" class="next animate-slide">
			<span class="shadow animate-opacity"></span>

			<div class="thumbnail animate-slide">
				<svg version="1.1" id="thumbnail-next-SVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" preserveaspectratio="none" viewbox="0 0 135 82" xml:space="preserve">
			        <defs>
				        <polygon id="th-next-shape" points="135,82 23.37,82 0,41 23.37,0 135,0"></polygon>
			        </defs>
			        <clippath id="th-next-clip-shape">
				        <use xlink:href="#th-next-shape" overflow="hidden"></use>
			        </clippath>
			        <image id="th-next-img" overflow="hidden" width="100%" height="100%" clip-path="url(#th-next-clip-shape)" preserveaspectratio="none" xlink:href=""></image>
		        </svg>
			</div>
			<span class="vectorsprite arrow-right">Next</span>
		</a>
	</nav>
	<div id="location-photo">
		<div class="current"></div>
		<div class="previous"></div>
		<div class="next"></div>
	</div>
	<div id="info-point">
		<a href="" target="_blank">
			<div class="glow animated"></div>
			<div class="vectorsprite info-point"></div>
			<ul class="info-data">
				<li>
					<h4>First name</h4>
				</li>
				<li>
					<h3>Last name</h3>
				</li>
				<li>
					<h5>Country</h5>
				</li>
				<li>
					<h5>Car</h5>
				</li>
				<li>
					<h5>Co-driver</h5>
				</li>
			</ul>
		</a>
	</div>
	<ul id="races-info">
		{module_webapps,17703,a,,,,,500,,,datereverse}
	</ul>
	<div id="map">
		<a target="_blank">
			<img alt="" src="/i/world-map.png" width="159" height="103"/>

			<div class="info">
				<div class="point"></div>
				<div class="line"></div>
				<h3>Title</h3>
				<h4>Subheadline</h4>
			</div>
		</a>
	</div>
	<nav id="race-locations">
		<hr class="thick"/>
		<hr class="fixed"/>
		<hr class="thin"/>
		<hr class="thick-wide"/>
	</nav>
	<nav id="race-seasons">
		<ul></ul>
	</nav>
	<script>
		var scriptsQueue = scriptsQueue || new Array();
		scriptsQueue.push('/js/libs/date.js');
		scriptsQueue.push('/js/libs/PxLoader.js');
		scriptsQueue.push('/js/libs/PxLoaderImage.js');
		scriptsQueue.push('/js/main.js');
	</script>

</body>
</html>