<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="/css/shop.css" type="text/css" media="screen" />
</head>
<body class="shop">
	{% comment -%} OUTPUT ALL CATALOGS AND ALL PRODUCTS {% endcomment -%}
	{module_catalogList parentCatalogId="30782" sortBy="weighting asc" itemsPerPage="20" template="/_System/ModuleTemplates/Shop/shop/catalogList.html"}
</body>
</html>